@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollBar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
}

.scrollBar::-webkit-scrollbar {
    display: none;
}